{% extends 'index.html.twig' %}
{% block body %}

    <div class="card w-75 mx-auto pm-header-content">
        <h1 class="mb-4 text-center">Füge bequem ein neues Feature hinzu.</h1>
        <div class="container mx-auto bg-light p-4 rounded mb-4" style="width: auto;">
            {{ form_start(form) }}
            {{ form_rest(form) }}

        </div>
        <button class="btn btn-outline-light pm-project-create-btn mx-auto" type="submit" id="btn-project-label">
            Hinzufügen
        </button>
        {{ form_end(form) }}
    </div>
{% endblock %}